<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" UpgradeCode="7b0af2d8-d27b-4a07-9be5-88185a9153be"
           Name="Fluent Terminal Installer" Version="0.0.1" Manufacturer="FS Apps" Language="1033">
    <Package InstallerVersion="200" Compressed="yes" Comments="Windows Installer Package" Platform="x64"/>
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed. Please uninstall it first. Setup will now exit."/>
    <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="Fluent Terminal Installer">
          <Component Id="ApplicationFiles" Guid="a2a84f6a-2654-4ace-aefd-55387c5cb015">
            <File Id="InstallUntrustedAppx.ps1" Source="Install-UntrustedAppx.ps1"/>
            <File Id="UninstallUntrustedAppx.ps1" Source="Uninstall-UntrustedAppx.ps1"/>
            <File Id="FluentTerminal.App.appxbundle" Source="FluentTerminal.App.appxbundle"/>
            <File Id="FluentTerminal.App.cer" Source="FluentTerminal.App.cer"/>
          </Component>
          <Directory Id="DependencyDir" Name="Dependencies">
            <Component Id="DependencyFiles" Guid="2b6515e9-5b3a-4789-b1f0-cb44d29ab987">
              <File Id="Microsoft.NET.Native.Framework.2.2.appx" Source="Dependencies/x64/Microsoft.NET.Native.Framework.2.2.appx"/>
              <File Id="Microsoft.NET.Native.Runtime.2.2.appx" Source="Dependencies/x64/Microsoft.NET.Native.Runtime.2.2.appx"/>
              <File Id="Microsoft.VCLibs.x64.14.00.appx" Source="Dependencies/x64/Microsoft.VCLibs.x64.14.00.appx"/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="DefaultFeature" Level="1">
      <ComponentRef Id="ApplicationFiles"/>
      <ComponentRef Id="DependencyFiles"/>
    </Feature>

    <SetProperty Id="InstallAppx" Before="InstallFiles" Sequence="execute" Value ="&quot;C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe&quot; -ExecutionPolicy Bypass -File &quot;[INSTALLDIR]Install-UntrustedAppx.ps1&quot; FluentTerminal.App" />
    <CustomAction Id="InstallAppx" BinaryKey="WixCA" DllEntry="WixQuietExec64" Execute="deferred" Return="check" Impersonate="yes" />

    <SetProperty Id="UninstallAppx" Before="InstallFiles" Sequence="execute" Value ="&quot;powershell.exe&quot; -ExecutionPolicy Bypass -File &quot;[INSTALLDIR]Uninstall-UntrustedAppx.ps1&quot; FluentTerminal.App" />
    <CustomAction Id="UninstallAppx" BinaryKey="WixCA" DllEntry="WixQuietExec64" Execute="deferred" Return="check" Impersonate="yes" />

    <InstallExecuteSequence>
      <Custom Action='InstallAppx' After='InstallFiles'>NOT REMOVE</Custom>
      <Custom Action='UninstallAppx' After='InstallFiles'>REMOVE~=ALL</Custom>
    </InstallExecuteSequence>

  </Product>
</Wix>
